.DS_Store
Thumbs.db

.eslintrc
.editorconfig

dev
tests

# these files are required for the wizard
#
# note 31-10-2023: there seems to be no way to force `.gitignore` and `.npmrc`
# files to be included in the package

!build-tools/.eslintrc
!app-templates/**/.editorconfig
